{% extends "dashboard/frontpage.html" %}
{% load static %}
<title>{% block title %}Create-Event{% endblock title %}</title>
{% block events-home-page %}

  <div class="w-1/2 mx-auto mt-8">  
    <div>
        {% if messages %}
          {% for message in messages %}
            <div class=" {% if message.tags == 'success' %}{% endif %}">
              {{message}}</div>
          {% endfor %}
        {% endif %}
    </div>

    <form method="POST" class="space-y-4">      
        {% csrf_token %}
        {% comment %} <input type="date"> {% endcomment %}
        {% comment %} <textarea class="border border-teal-500 w- resize-none rounded-md placeholder:italic placeholder:text-gray-400" placeholder="enter event name"></textarea> {% endcomment %}
        {% comment %} <input type="text" class="border border-teal-500 w-80 h-48 rounded-md placeholder:italic placeholder:text-gray-400 placeholder:start-0" placeholder="enter event name"> {% endcomment %}
        
        {{form.as_p}}
        <button type="submit" class="bg-orange-600 rounded-md px-3 py-1 hover:bg-orange-700">Submit</button>
    </form>
  </div>
{% endblock events-home-page %}