{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Event</title>
  </head>
  <body>  
    <div class="bg-rose-800 text-white">
    <h1 class="text-3xl font-bold">
        Hello world!
    </h1>
    </div>
    <div class="bg-gray-700">
        <img class='edit-img' src="{% static "img/event1.jpg" %}" alt="">
    </div>
  </body>
</html>