{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Event</title>
  </head>
  <body class="bg-gray-100 shadow-sm">  
    {% comment %} napvar {% endcomment %}
    <div>
      <div id="navbar" class="flex justify-between items-center fixed w-full top-0 left-0 bg-white transform transition-transform duration-[1s,15s] ease-in-out shadow-md">

        {% comment %} icon & bussiness-name {% endcomment %}
        <div class="flex justify-between items-center pl-16">
          <div>
            <img src="{% static "img/icons/icon1.png" %}" class="size-12" alt="">
          </div>
          <div class="p-2">
            <h1 class="text-4xl font-bold font-serif">ANADOLU</h1>
            <h3 class="text-orange-600 font-bold">EVENT MANAGEMENT</h3>
          </div>
        </div>

        {% comment %} options {% endcomment %}
        <div>
          <div class="flex justify-center pr-5 font-mono">
            <h1 class="font-semibold text-xl p-5 hover:text-orange-500">Home</h1>
            <h1 class="font-semibold text-xl p-5 hover:text-orange-500">About</h1>
            <h1 class="font-semibold text-xl p-5 hover:text-orange-500">Event</h1>
            <h1 class="font-semibold text-xl p-5 hover:text-orange-500">Dashboard</h1>
            <h1 class="font-semibold text-xl p-5 hover:text-orange-500">Contact</h1>         
          </div>
        </div>
      </div>

      <script>
        let lastScroll = 0;
        const navbar = document.getElementById("navbar");

        window.addEventListener("scroll", () => {
          let currentScroll = window.scrollY;

          if (currentScroll > lastScroll) {
            // scroll down → hide
            navbar.style.transform = "translateY(-100%)";
          } else {
            // scroll up → show
            navbar.style.transform = "translateY(0)";
          }

          lastScroll = currentScroll;
        });
      </script>
    </div>
    {% comment %} home-page-image {% endcomment %}
    <div class="">
      <div id="hero" class="bg-scroll bg-cover overflow-auto p-52 "
          style="background-image: url('{% static "img/event6.jpg" %}');">
      </div>

      <script>
        window.addEventListener("scroll", () => {
          const scrolled = window.scrollY;
          document.getElementById("hero").style.backgroundPositionY = scrolled * 0.3 + "px";
        });
      </script>
    </div>
    {% block events-home-page %}
    
    {% endblock events-home-page %}
  </body>
</html>