{% extends "dashboard/frontpage.html" %}
{% load static %}
{% block events-home-page %}


{% comment %} <div class="">

</div> {% endcomment %}

<div class="p-6 bg-gray-100">
  <div class="p-5 mb-10">
    <form method='GET'>
      <div class="flex justify-center gap-4">
        <div>
          <h1 class="font-serif mb-2 text-xl text-black">Search Event</h1>
          <input type="text" name="q" class="border border-gray-300 shadow-md rounded w-60 h-10 pl-2 placeholder:italic placeholder:text-gray-300" style="outline: none;" placeholder="search for events">
        </div>
        <div>
          <h1 class="font-serif mb-2 text-xl text-black">Select Catagory</h1>
          <select name="catagory" class="border w-60 h-10 rounded focus:outline-none shadow-md">
            
            <option value="">All Catagory</option>
            {% for cat in cats %}
              <option value="{{cat.id}}">{{ cat.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="pt-9 ">
          <button type="submit" class="bg-teal-600 hover:bg-teal-700 w-20 h-10 rounded shadow-md inline-block text-white">Search</button>
        </div>
      </div>
    </form>
  </div>



  {% comment %} Grid-1 {% endcomment %}
  <div class="grid grid-cols-4 gap-4 mb-8">
    {% for event in events %}
    <div class="grid col-start-2 col-span-3 bg-white shadow-xl rounded-xl hover:bg-gray-100 border  hover:border-orange-600">
      <div class="grid grid-cols-3 gap-2">
        <div class="grid col-span-1 p-4">
          <img src="{% static "img/festival/eid2.jpg" %}" class="rounded-lg" alt="">
        </div>
        <div class="grid col-start-2 col-span-3 pt-5 pl-2">
            <h1 class="font-extrabold font-serif text-2xl">{{event.name}}</h1>
            <p class="font-semibold">Event Catagory : <span class="font-bold text-fuchsia-800">{{event.catagory.name}}</span></p>
            <h1 class="font-serif p-0 text-teal-700">{{event.description|truncatechars:100}}</h1>
            <div class="grid grid-cols-3">
              <div class="grid col-start-1 col-span-2">
                <div class="flex justify-around">
                  <div class="flex justify-between items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon3.png" %}" alt="">
                    <div>
                      <h1>Total Seats</h1>
                      <h1>250</h1>
                    </div>
                  </div>


                  <div class="flex justify-around items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon4.png" %}" alt="">
                    <div>
                      <h1>Available Seats</h1>
                      <h1>50</h1>
                    </div>
                  </div>
                </div>
          
              </div>

              <div class="grid col-start-3 col-span-1">
                <a href="{% url "event-details" %}?id={{event.id}}">
                  <button class="bg-orange-600 hover:bg-orange-700 text-white px-2 py-1 m-8 font-bold  rounded-full">
                    See Details
                  </button>
                </a>
                {% comment %} <a href="{% url "event-details" %}" class="bg-orange-600 hover:bg-orange-700 text-white px-2 py-1 m-8 font-bold  rounded-full">
                  See Details
                </a> {% endcomment %}
              </div>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% comment %} Grid-2 {% endcomment %}
  {% comment %} <div class="grid grid-cols-4 gap-4 mb-8">
    <div class="grid col-span-1 px-12 ">
          <img src="{% static "img/event5.jpg" %}" class="rounded-lg" alt="">
    </div>

    <div class="grid col-start-2 col-span-3 bg-white border-solid shadow-xl rounded-xl  hover:bg-gray-100 border hover:border-orange-600">
      <div class="grid grid-cols-3 gap-2">
        <div class="grid col-span-1 p-4">
          <img src="{% static "img/eid/eid2.jpg" %}" class="rounded-lg" alt="">
        </div>
        <div class="grid col-start-2 col-span-3 pt-5 pl-2">
            <h1 class="font-extrabold font-serif text-2xl">Istanbul Eid Festival 2026</h1>
            <h1 class="font-serif p-0">Lorem ipsum dollor site amet the best consectuer diam nerdistin adipiscing elites sed diam nonummy nibh the ebest uismod delgas tincidunt ut laoreet dolore magna...</h1>
            <div class="grid grid-cols-3">
              <div class="grid col-start-1 col-span-2">
                <div class="flex justify-around">
                  <div class="flex justify-between items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon3.png" %}" alt="">
                    <div>
                      <h1>Total Seats</h1>
                      <h1>250</h1>
                    </div>
                  </div>


                  <div class="flex justify-around items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon4.png" %}" alt="">
                    <div>
                      <h1>Available Seats</h1>
                      <h1>50</h1>
                    </div>
                  </div>
                </div>
          
              </div>

              <div class="grid col-start-3 col-span-1">
                <button class="bg-orange-600 hover:bg-orange-700 text-white px-2 py-1 m-8 font-bold  rounded-full">
                  See Details
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}


  {% comment %} Grid-3 {% endcomment %}
  {% comment %} <div class="grid grid-cols-4 gap-4 mb-8">
    <div class="grid col-start-2 col-span-3 bg-white border-solid shadow-xl rounded-xl hover:bg-gray-100 border hover:border-orange-600">
      <div class="grid grid-cols-3 gap-2">
        <div class="grid col-span-1 p-4">
          <img src="{% static "img/eid/eid2.jpg" %}" class="rounded-lg" alt="">
        </div>
        <div class="grid col-start-2 col-span-3 pt-5 pl-2">
            <h1 class="font-extrabold font-serif text-2xl">Istanbul Eid Festival 2026</h1>
            <h1 class="font-serif p-0">Lorem ipsum dollor site amet the best consectuer diam nerdistin adipiscing elites sed diam nonummy nibh the ebest uismod delgas tincidunt ut laoreet dolore magna...</h1>
            <div class="grid grid-cols-3">
              <div class="grid col-start-1 col-span-2">
                <div class="flex justify-around">
                  <div class="flex justify-between items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon3.png" %}" alt="">
                    <div>
                      <h1>Total Seats</h1>
                      <h1>250</h1>
                    </div>
                  </div>


                  <div class="flex justify-around items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon4.png" %}" alt="">
                    <div>
                      <h1>Available Seats</h1>
                      <h1>50</h1>
                    </div>
                  </div>
                </div>
          
              </div>

              <div class="grid col-start-3 col-span-1">
                <button class="bg-orange-600 hover:bg-orange-700 text-white px-2 py-1 m-8 font-bold  rounded-full">
                  See Details
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div> {% endcomment %}

  
  {% comment %} Grid-4 {% endcomment %}
  {% comment %} <div class="grid grid-cols-4 gap-4 mb-8">
    <div class="grid col-start-2 col-span-3 bg-white border-solid shadow-xl rounded-xl hover:bg-gray-100 border hover:border-orange-600">
      <div class="grid grid-cols-3 gap-2">
        <div class="grid col-span-1 p-4">
          <img src="{% static "img/eid/eid2.jpg" %}" class="rounded-lg" alt="">
        </div>
        <div class="grid col-start-2 col-span-3 pt-5 pl-2">
            <h1 class="font-extrabold font-serif text-2xl">Istanbul Eid Festival 2026</h1>
            <h1 class="font-serif p-0">Lorem ipsum dollor site amet the best consectuer diam nerdistin adipiscing elites sed diam nonummy nibh the ebest uismod delgas tincidunt ut laoreet dolore magna...</h1>
            <div class="grid grid-cols-3">
              <div class="grid col-start-1 col-span-2">
                <div class="flex justify-around">
                  <div class="flex justify-between items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon3.png" %}" alt="">
                    <div>
                      <h1>Total Seats</h1>
                      <h1>250</h1>
                    </div>
                  </div>


                  <div class="flex justify-around items-center gap-2">
                    <img class="size-12" src="{% static "img/icons/icon4.png" %}" alt="">
                    <div>
                      <h1>Available Seats</h1>
                      <h1>50</h1>
                    </div>
                  </div>
                </div>
          
              </div>

              <div class="grid col-start-3 col-span-1">
                <button class="bg-orange-600 hover:bg-orange-700 text-white px-2 py-1 m-8 font-bold  rounded-full">
                  See Details
                </button>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div> {% endcomment %}
</div>



{% endblock events-home-page %}

